/* This CSS is designed to layout the password strength meter based on the standard form layout and CSS.  If you customize your forms css, be sure to customize this as well. */

#pwd-strength {
	display: block;
	float: left;
	width: 142px;
	height: 18px;
	background: #fff;
	margin: 4px 0 0 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#pwd-meter-container {
	display: block;
	float: left;
	width: 140px;
	height: 16px;
	border: 1px solid #888;
	background: ;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#pwd-strength-meter {
	display: block;
	float: left;
	width: 0;
	height: 16px;
	overflow: visible;
	background: #FF4545;
	margin: 0;
	line-height: 17px;
	color: #000;
	font-size: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#pwd-strength-meter.light {
	color: #eee;
}

#attr_password {
	float: left;
}
